@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family:  Poppins, sans-serif;
}
body{
    background: f1fbff;
}

.section-padding{
    padding: 100px 0;
}
.navbar-brand{
    font-size: 25px;
}

.carousel-item{
    height: 100vh;
    min-height: 100px;
}

.carousel-caption{
    bottom: 200px;
    z-index: index 2;
}
h4{
    color: #E5B200;
}
h1{
    color: #E5B200;
    text-decoration: underline;
    text-decoration-color: #A3940D;
    text-underline-offset: .50em;
    text-decoration-thickness: 4px;
}
h3{
    color: #E5B200;
    font-family: Poppins, sans-serif;
/*stat area*/
.profile-area{
background-color:rgba(234, 186, 27, 0.445);
}
}
.multi{
    color: #CC6200;
}

footer{
    background-color: black;
    width: 100%;
}
.about-img img{
    width: 100%;
}
h5{
    color: white;
    font-weight: 200;
}
.item-text{
    padding-left: 15px
}
.about-img{
    padding-right: 15px;
}
.item-text h4{
    margin-bottom: 30px;

}
.hero-banner{
    background-color: #e5b3003d;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background: rgb(0, 0, 0.7);
    z-index: 0;
}

.navbar-nav a{
    font-size: 15px;
    
    font-weight: 200;
    letter-spacing: 2px;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
    color: #E5B200;
}

.navbar-dark .navbar-nav .navbar-link{
    color: #E5B200;
}
.w-100{
    height: 100vh;
}

h2{
    font-family: Poppins, sans-serif;
    text-decoration: underline;
    text-decoration-color: #A3940D;
    text-underline-offset: .50em;
    text-decoration-thickness: 4px;
}
header{
    width: 100vw;
    background-image: url(who.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* blog*/
.blog{
    width:auto;
    background-image: url(law.jpg) ;
    min-height: 440px;
   
    display: grid;
    justify-content: center ;
    align-items: center;
}
.blog-title{
    font-size: 2.0rem;
}
.blog-subtitle{
    font-size: 1rem;
    font-weight: 400;
}
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}
.filter-item{
font-size: 0.9rem;
font-weight: 500;
cursor: pointer;    
}
.active-filter{
    background-color: #A3940D;
    padding: 4px 10px;
    border-radius: 4px;
}
/* post */
.insight{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}
.insight-box{
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
.insight-title{
    font-size: 1.3rem;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.insight-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #A3940D;
}
.post-title{
    font-size: 1.3rem;
    font-weight: 600;
   
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
    overflow: hidden;
}
.insight-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
.insight-description{
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.profile{
    display: flex;
    align-items:center;
    gap: 10px;
}
.profile-img{
    width:35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid;


}
.card-img-top
{
    height: 200px;
    width:100%;
}
.card{
    
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover{
    color: white ;
}
.card::before{
content:"";
position: absolute;
left: -100%;
top: 0%;
background: #121036;
width: 100%;
height: 100%;
transition: 0.5s;
z-index: -1;
}
.card:hover::before{
    left: 0%;
}
/* responsive css */
@media only screen and (min-width: 768px) and (max-width:991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
}



@media only screen and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}